<div class=' col-md-12 col-lg-5 main-header-left align-items-center'>
  <figure>
    <img width="500" src='images/error.png' alt='' class='img-fluid' />
  </figure>
  <p>
    Welcome to khanjee world
  </p>
  <h1>
    Oops!
    <span>
      Page
    </span>
    Not Found
  </h1>
  <a href='/'>
    <button>
      Go Back
    </button>
  </a>
</div>