<div class='container-fluid main-header'>
  <div class='row'>
    <div class='col-md-10 col-12 mx-auto'>
      <div class='row'>
        <div class='col-md-6 col-12 main-header-left'>
          <p>
            Welcome to weather app
          </p>
          <h1>
            Get The Latest
            <span>
              Weather
            </span>
            Info Of Your City
          </h1>
          <a href='/weather'>
            <button>
              Check now
            </button>
          </a>
        </div>
        <div class='col-md-6 col-12 main-header-right'>
          <div
            id='carouselExampleControls'
            class='carousel slide'
            data-bs-ride='carousel'
          >
            <div class='slider-app carousel-inner'>
              <div class='carousel-item active'>
                <figure>
                  <img src='images/bg-1.png' class='d-block w-100' alt='...' />
                </figure>
              </div>
              <div class='carousel-item'>
                <figure>
                  <img src='images/bg-2.png' class='d-block w-100' alt='...' />
                </figure>
              </div>
              <div class='carousel-item'>
                <figure>
                  <img src='images/bg-3.png' class='d-block w-100' alt='...' />
                </figure>
              </div>
            </div>
            <button
              class='carousel-control-prev'
              type='button'
              data-bs-target='#carouselExampleControls'
              data-bs-slide='prev'
            >
              <span
                class='carousel-control-prev-icon'
                aria-hidden='true'
              ></span>
              <span class='visually-hidden'>
                Previous
              </span>
            </button>
            <button
              class='carousel-control-next'
              type='button'
              data-bs-target='#carouselExampleControls'
              data-bs-slide='next'
            >
              <span
                class='carousel-control-next-icon'
                aria-hidden='true'
              ></span>
              <span class='visually-hidden'>
                Next
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>