<div class='container-fluid main-header'>
  <div class='row'>
    <div class='col-12 col-md-10 mx-auto align-items-center'>
      <div class='main-content'>
        <form class='temp-form'>
          <input
            type='text'
            id='cityName'
            placeholder='Enter your city name'
            autocomplete='off'
          />
          <input
            type='submit'
            id='submitButton'
            value='search'
            placeholder='Enter your city name'
            autocomplete='off'
          />
        </form>
      </div>
      <div class='tempInfo'>
        <div class='top-layer'>
          <p id='day'>
            Tuesday
          </p>
          <p id='today-date'>
            29 Apr
          </p>
        </div>
        <div class='main-layer'>
          <p id='city-name'>
            Get Output Here
          </p>
          <div class='middle-layer data-hide'>
              <p id="temp"><span id="temp-real-val">0</span><sup>o</sup>C</p>
              <p id="temp-status">
                  <i class="fa fa-cloud" aria-hidden="true"></i>
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>