@import url('https://fonts.googleapis.com/css2?family=Piazzolla:wght@200;300;400;900&display=swap');
* {
  font-family: 'Piazzolla', serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background-color: rgb(132, 132, 132); */
}
:root {
  --main-bg: #1e272e;
  --main-color: #0097e6;
}
html {
  font-size: 62.5%;
}
.row {
  margin: 0;
}
