@import url('https://fonts.googleapis.com/css2?family=Piazzolla:wght@200;300;400;900&display=swap');
* {
  font-family: 'Piazzolla', serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background-color: rgb(132, 132, 132); */
}

:root {
  --main-bg: #1e272e;
  --main-color: #0097e6;
}
html {
  font-size: 62.5%;
}
body {
  height: 100vh;
  display: flex;
  /* flex-direction: column; */
}
.row {
  margin: 0;
}
.main-menu {
  background-color: var(--main-bg);
}
.navbar {
  color: #ffffff !important;
  padding: 2rem !important;
}
.navbar a {
  margin-left: 2rem !important;
}
.navbar a:hover {
  color: var(--main-color) !important;
}
.fa-snowflake {
  transition: all linear;
  animation: rot 2s linear infinite;
  color: var(--main-color) !important;
}

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* main header  */
.main-header-left,
.main-header-right {
  height: 60rem;
  /* width: 60rem !important; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.main-header-left p {
  font-size: 2rem;
}
.main-header-left h1 {
  font-size: 4rem;
  margin: 1rem 0 4rem 0;
  text-transform: capitalize;
}
.main-header-left span {
  color: var(--main-color);
}
.main-header-left button {
  padding: 0.8rem 1.8rem;
  border: none;
  font-size: 1.4rem;
  border-radius: 2rem;
  text-transform: uppercase;
  box-shadow: 0 0.8rem 0.6rem -0.6rem var(--main-bg);
  outline: none;
}
.main-header-left button:hover {
  box-shadow: 0 0.8rem 0.6rem -0.6rem var(--main-color);
}
.main-header-right figure img {
  filter: drop-shadow(0 0.5rem 1rem #00000051);
  /* height: 500px;
  max-width: 500px; */
}
.temp-form {
  width: 60%;
  position: relative;
  margin: 10rem auto 6rem;
}
.temp-form input[type='text'] {
  width: 100%;
  padding: 2rem 5rem 2rem 2rem;
  background: #1e202b;
  color: #ffffff;
  outline: none;
  border: none;
  font-size: 1.7rem;
  border-radius: 3rem;
}
::placeholder {
  color: #bfc1c8;
}
.temp-form input[type='submit'] {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  border: none;
  background: var(--main-color);
  /* width: 100%; */
  padding: 0 3rem;
  color: #ffffff;
  outline: none;
  border: none;
  font-size: 1.6rem;
  border-radius: 3rem;
}
.temp-form input[type='submit']:hover {
  color: var(--main-color);
  background-color: #fff;
  transition: all 0.3s linear;
}
.main-layer .middle-layer p,
.main-layer .middle-layer .fa {
  font-size: 7rem;
  font-weight: 900;
  color: #bfc1c8;
}
.fa {
  color: var(--main-color);
}
sup {
  font-size: 6rem;
  margin-top: -2rem;
}
.data-hide {
  visibility: hidden;
  transition: all 0.3s linear;
}
.tempInfo {
  width: 40rem;
  margin: auto;
  min-height: 10rem;
  background-color: #323544;
  border-radius: 1rem;
  /* padding: 1rem; */
  font-family: 'Roboto', sans-serif;
}
.top-layer {
  width: 100%;
  height: 20%;
  background-color: #323544;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
  padding: 2rem;
}
.top-layer p {
  color: #ffffff;
  font-weight: 300;
  /* padding: 2rem; */
  font-size: 1.3rem;
}
.main-layer {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
}
.main-layer #city-name {
  padding: 2rem;
  color: #bfc1c8;
  font-weight: 300;
  font-size: 2rem;
}
.main-layer .middle-layer {
  display: flex;
  justify-content: space-around;
}
footer {
  width: 100%;
  background-color: var(--main-bg);
}
footer p {
  margin: 0;
  text-align: center;
  color: #ffffff;
  line-height: 5rem;
  font-size: 1.4rem;
}
/* respomsive code  */
@media (max-width: 768px) {
  .main-header-left,
  .main-header-right {
    padding: 3rem;
    height: auto;
  }
}
@media (max-width: 988px) {
  body {
    flex-direction: column;
  }
}
@media (max-width: 1368px) {
  footer{
    margin-top: auto;
  }
}