<!DOCTYPE html>
<html lang="en">
<head>
    {{>head_links}}
</head>
<body> 
    {{>navbar}}
    <h1>About {{name}}</h1>
    <img src="images/shadow_profile.png" alt="" srcset="">
    <img src="images/bg-2.png" alt="" srcset="">
</body>

</html>